:root {
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: black;
	background-color: #fff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	text-decoration: inherit;
}

body {
	margin: 0 auto;
}

#root {
	margin: 0;
	font-family: 'Public Sans', sans-serif;
	font-optical-sizing: auto;
	min-height: 100vh;
	overflow: hidden;
}

h1 {
	font-size: 3.2em;
	line-height: 1.1;
}

h2, h3 {
	line-height: 1;
	margin: 0;
	font-weight: 900;
}

button {
	border-radius: 8px;
	border: 1px solid white;
	padding: 0.6em 1.2em;
	font-size: 18px;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
	margin-left: 10px;
}

.root {
	width: 100%;
}

.card-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	color: #c2c2c2;
}

.card-title {
	font-weight: 900;
	text-align: center;
	/* text-transform: lowercase; */
	line-height: 1;
}

.card-category {
	opacity: 0.75;
	margin-bottom: 8px;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #b3b3b3;
	border-bottom: 1px solid #b3b3b3;
	padding: 4px 0;
	margin: 20px 0;
}

.card-solution {
	line-height: 1.1;
	opacity: 0.95;
	text-align: center;
	font-weight: 900;
}

.card-cta {
	background-color: transparent;
	margin-top: 20px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid #b3b3b3;
	border-left: 0;
	border-right: 0;
	padding: 8px 16px;
	cursor: pointer;
	letter-spacing: -0.1px;
}

.game-contact-form-container {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
	border-radius: 16px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.game-contact-form .form-title {
	line-height: 1.1;
	color: white;
	text-align: center;
	font-weight: 700;
	margin-bottom: 20px;
}

form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 50%;
	min-width: 350px;
}

form input,
form select {
	background-color: white;
	color: #1a1a1a;
	border: 1px solid white;
	border-radius: 20px;
	width: 100%;
	padding: 10px 16px;
	font-size: 20px;
}

.game-contact-form .game-contact-form-submit {
	margin: 0 auto;
	background: white;
	color: #b60d45;
	border-radius: 20px;
	padding: 8px 16px;
	margin-top: 20px;
}

.endGame {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

.endgame-contact-form {
	border-radius: 16px;
	background-color: #b60d45;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 48px 24px;
	/* justify-content: center; */
	min-height: 30vh;
	min-width: 50vw;
}

.endgame-contact-form button {
	background: none;
	color: #fff;
	padding: 4px 8px;
}

.inputs-container{
	display: flex;
	flex-direction: column;
	gap: 16px;
	width: 50%;
	min-width: 350px;
	margin-top: auto;
}

button#close{
	position: absolute;
	top: 32px;
	right: 32px;
	background: #b60d45;
	border: none;
	color: #fff;
	font-size: 24px;
	padding: 12px 18px;
	cursor: pointer;
}

.success-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-align: center;
	z-index: 10;
	padding: 0 32px;
}

.success-message {
	background-color: #b60d45;
	padding: 40px;
	border-radius: 16px;
}

.form-error{
	background-color: white;
	color: #b60d45;
	font-weight: 900;
	font-size: 18px;
	border: #b60d45 1px solid;
	padding: 4px 8px;
	border-radius: 4px;
	width: fit-content;
}
